# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite
*.parquet

# Matplotlib cache
.matplotlib/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Pandas profiling
*.profile_report.html